{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
<h2> Hi {{ request.user }}</h2>
<div class="row">
<div class="col-5">
    <h5>Here are your current tee times</h5>
    {% for teetimes in purchased_tee_times %}
    <ul>
        <li>
        {{ teetimes.course }}
        </li>
        <li>
        {{ teetimes.tee_time }}
        </li>
        {% csrf_token %}
    </ul>
    {% endfor %}
</div>

    <div class="col-5">
        <form action="{% url 'golfprofile' %}" method="post">
            {% csrf_token %}
            <!-- From User -->
            {{ user_form.as_p }}
            <!-- From UserProfile -->
            {{ user_profile_form.as_p }}
        <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% for message in messages %}
    {{ message }}
{% endfor %}

</div>


{% endblock %}