{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
<h2> Hi {{ request.user }}</h2>
<div class="row">
<div class="col-5">
    <h5>Here are your current tee times</h5>
    {% for teetimes in tee_times %}
    <ul>
        <li>
        {{ teetimes.course }}
        </li>
        <li>
        {{ teetimes.tee_time }}
        </li>
        {% csrf_token %}
    </ul>
    {% endfor %}
</div>

{% for message in messages %}
    {{ message }}
{% endfor %}

</div>


{% endblock %}