body {
    padding-top: 100px;
    font-family: 'Jost', sans-serif;
    max-width: 2140px;
}

nav, .nav {
    min-height: 100px;
    font-weight: bold;
    background-color: white !important;
}

.nav-link {
    color: black !important;
}

@media (min-width: 992px) {
    .nav-link {
        margin-right: 27px;
    }
}

.bottomnavbar {
    margin-top: 100px;
    border-top: 2px solid black;
}

.indexheding {
    margin-top: 50%;
    text-align: center;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3, h4 {
    margin-top: 100px;
}

h5 {
    text-align: center;
    margin-top: 30px;
}

#logoball {
    max-height: 40px;
}

#paygreenfeebutton {
    margin-right: 20px;
}

.message-box {
    position: fixed;
    top: 80px;
    right: 50px;
    z-index: 9999;
}

.toast {
    border: 2px solid black;
}
/* home page */

#golfvideo {
    margin-left: -500px;
    min-height: 540px !important;
}

#homelogin {
    margin-top: 50px;
}

.infotext {
    margin-top: 80px;
}

.infotext h6 {
    margin-top: 20px;
}

.golfcourse {
    margin-top: 100px;
}

.golfcourse img {
    opacity: 0.5;
}
.course-container {
position: relative;
min-width: 100% !important;
}

.course-container div {
    padding: 0;
}

.course-container a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.course-container .btn {
    font-size: 24px;
}

.homepageimg {
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

/* Courses */

#courseimg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.courseprice, .courserating {
    margin: 10px 10px 30px 10px;
}

.coursespecificimg {
    position: relative;
    min-width: 100% !important;
    margin-top: 100px;
}

.coursespecificimg a {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

#courseteetime {
    margin-top: 200px;
    color: white;
}

.dropdown-menu {
    margin-bottom: 16px;
}

#course-link, #sort-link {
    margin-bottom: 16px;
}
/* Course detail page */

#detailimage {
    max-width: 70%;
    max-height: 500px;
}

/* Pay greenfee page */

.paygreenfee-topics {
    margin-bottom: 50px;
}

.bookingspecificimg {
    position: relative;
    min-width: 100% !important;
    margin-bottom: 20px;
}

.stripe-style-input {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
}

/*  profile page */

.profile-topics {
    margin-bottom: 50px;
}

.purchasedteetime {
    margin-top: 20px;
    margin-bottom: 16px;
}