{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row justify-content-around">
        <h2>Find a tee time in your city</h2>
    </div>
    <div class="row searchrow">
            <div class="col-4">
                <form action="{% url 'courses' %}">
                    <input type="text" class="form-control" name="a" placeholder="Search Course">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Price
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">&lt; 500 </a>
                <a class="dropdown-item" href="#">500 - 1000</a>
                <a class="dropdown-item" href="#">&gt; 1000</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Rating
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">&lt; 6 </a>
                <a class="dropdown-item" href="#">&gt; 6 </a>
                <a class="dropdown-item" href="#">&gt; 7 </a>
                <a class="dropdown-item" href="#">&gt; 8 </a>
                <a class="dropdown-item" href="#">&gt; 9 </a>
            </div>
        </div>
    </div>
    <div class="row">
        {% for course in courses %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="row coursespecificimg">
                    <img id="courseimg" src="{{ course.img_url }}" alt="{{ course.course_name}} picture">
                    <button id="findteetime" value="{{ course.course_name }}" type="button" class="btn btn-success" onclick="on(); passCourseName()">Find tee time</button>
                </div>
                <div class="row justify-content-around">
                    <h5>{{ course.course_name }}</h5>
                </div>
                <div class="row justify-content-center">
                    <h6 class="courseprice"><i class="fas fa-coins fa-lg"></i> {{ course.green_fee }} SEK</h6>
                    <h6 class="courserating"><i class="fas fa-star fa-lg"></i> {{ course.rating }}</h6>
                </div>
                <div class="row justify-content-center">
                    <a href="{% url 'course_detail' course.id %}" type="button" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div id="overlay">
    <div class="container-fluid">
        <div class="row justify-content-around">
            <h2 id="courseteetime"></h2>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <input type="date">
                {{ example_form.my_date_field }}
            </div>
            <div class="col text-center">
                <i class="fas fa-times fa-7x" onclick="off()"></i>
            </div>
        </div>
    </div>
</div>
{% block postloadjs %}
<script>
function on() {
  document.getElementById("overlay").style.display = "block";
}

function off() {
  document.getElementById("overlay").style.display = "none";
}

function passCourseName() {
  var coursename = $(this).attr("value")
  document.getElementById("courseteetime").innerHTML = coursename;
}

</script>
{% endblock %}
{% endblock %}