{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2>{{ course.course_name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="rounded mx-auto d-block" id="detailimage" src="{{ course.img_url }}" alt="course image">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-3 col-lg-2 text-center">
            <h4 class="detaildistrict"><i class="fas fa-map-marked-alt fa-lg"></i> {{ course.district.friendly_name }}</h4>
        </div>
        <div class="col-12 col-sm-3 col-lg-2 text-center">
            <h4 class="detailprice"><i class="fas fa-coins fa-lg"></i> {{ course.green_fee }} SEK</h4>
        </div>
        <div class="col-12 col-sm-3 col-lg-2 text-center">
            <h4 class="detailrating"><i class="fas fa-star fa-lg"></i> {{ course.rating }}</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h3>About {{ course.course_name }}</h3>
        </div>
        <div class="col-8 text-center">
        <h6>{{ course.course_description }}</h6>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <h5>Club website</h5>
            <a href="{{ course.facility_url }}" target="_blank">{{ course.course_name }}</a>
        </div>
        <div class="col-3 text-center">
            <h5>Club phone number</h5>
            <a href="{{ course.facility_phone }}" target="_blank">{{ course.facility_phone }}</a>
        </div>
        <div class="col-3 text-center">
            <h5>Club email</h5>
            <a href="{{ course.facility_email }}" target="_blank">{{ course.facility_email }}</a>
        </div>
    </div>
</div>
{% endblock %}