{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row justify-content-around">
        <h2>Find a tee time in your city</h2>
    </div>
    <div class="row searchrow justify-content-around">
        <div class="col-4">
            <form action="{% url 'courses' %}">
                <input type="text" class="form-control" name="q" placeholder="Search Course">
                <button class="btn btn-black border border-black rounded-0" type="submit">
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
                </button>
            </form>
        </div>
        <div class="col-4">
            <a class="font-weight-bold nav-link text-black border border-black rounded-0" href="#" id="course-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                District
            </a>
            <div class="dropdown-menu" aria-labelledby="course-link">
                <a href="{% url 'courses' %}?district=stockholm" class="dropdown-item">Stockholm</a>
                <a href="{% url 'courses' %}?district=gothenburg" class="dropdown-item">Gothenburg</a>
                <a href="{% url 'courses' %}?district=malmo" class="dropdown-item">Malmo</a>
                <a href="{% url 'courses' %}" class="dropdown-item">All Courses</a>
            </div>
        </div>
        <div class="col-4">
            <a class="font-weight-bold nav-link text-black border border-black rounded-0" href="#" id="sort-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
            </a>
            <div class="dropdown-menu" aria-labelledby="sort-link">
                <a href="{% url 'courses' %}?sort=green_fee&direction=asc" class="dropdown-item">Price</a>
                <a href="{% url 'courses' %}?sort=rating&direction=desc" class="dropdown-item">Rating</a>
                <a href="{% url 'courses' %}" class="dropdown-item">No sort</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        {% for course in courses %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="row coursespecificimg">
                    <img id="courseimg" src="{{ course.img_url }}" alt="{{ course.course_name}} picture">
                    <a href="#course{{course.id }}" id="findteetime" value="{{ course.course_name }}" type="button" class="btn btn-success" data-toggle="modal" data-target="#course{{ course.id }}">Find tee time</a>
                </div>
                <div class="row justify-content-around">
                    <h5>{{ course.course_name }}</h5>
                </div>
                <div class="row justify-content-center">
                    <h6 class="courseprice"><i class="fas fa-coins fa-lg"></i> {{ course.green_fee }} SEK</h6>
                    <h6 class="courserating"><i class="fas fa-star fa-lg"></i> {{ course.rating }}</h6>
                </div>
                <div class="row justify-content-center">
                    <a href="{% url 'course_detail' course.id %}" type="button" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
            {% empty %}
            <h2>No courses found. Please try to search for another course.</h2>
        {% endfor %}     
    </div> 
</div>
{% for course in courses %}

<!-- Modal -->
<div class="modal fade" id="course{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{course.course_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'book_course' %}" method="post">
        <div class="modal-body">
                {% csrf_token %}
                <!-- This one is not working
                <p>
                    <label for="id_tee_time">Tee time:</label>
                    <input type="datetime-local" name="tee_time" required id="id_tee_time">
                </p> -->
                <p>
                <label for="id_course">Course:</label>
                <select name="course" required id="id_course">
                    <option value="{{ course.id }}" selected>{{ course.course_name}}</option>
                </select>
                </p>
                <p>
                Tee time: {{ tee_time_form.tee_time }} (Please enter: YYYY-MM-DD HH:ii)
                </p>
                <p>
                <label for="id_price">Greenfee:</label>
                <select name="price" required id="id_price">
                    <option value="{{ course.green_fee }}" selected>{{ course.green_fee }}</option>
                </select>
                </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Book and pay greenfee</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}
{% block postloadjs %}
<script>


</script>

{% endblock %}